<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.LoginLogDao">

    <insert id="insertLoginLog" parameterType="LoginLog" useGeneratedKeys="true" keyProperty="id">
        insert into loginlog(user_id,ip,date,user_id_is_admin) values
        (#{userId},#{ip},#{date},#{userIdIsAdmin})
    </insert>
    
    <select id="queryLoginLogList" resultType="LoginLog">
        select * from loginlog
    </select>

    <delete id="deleteLoginOne" parameterType="int">
        delete from loginlog where  id=#{id}
    </delete>
</mapper>